.advantages {
	min-height: 470px;
	padding: 70px 0 95px 0;
	background-color: #F6F6F6;
	&__header {
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		text-transform: uppercase;
		color: #0D0D0D;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		margin-top: 65px;
	}
	&__icon {
		width: 238px;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #0D0D0D;
	}
	&__icon-header {
		margin-top: 38px;
		font-size: 18px;
		color: #0D0D0D;
		font-weight: 700;
	}
	&__icon-description {
		margin-top: 25px;
		font-size: 14px;
		font-weight: 500;
		color: #0D0D0D;
		span {
			color: #ff0000;
			text-decoration: underline;
		}
	}
}

