.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/second_stade.jpeg') center (center/cover) no-repeat;
    &__description {
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
        text-align: left;
        color: #ffffff;
    }
}