@media (max-width: 1199px) {
	.promo {
		&__wrapper {
			align-items: center;
		}
	}
}

@media (max-width: 991px) {
	.header {
		justify-content: space-evenly;
			&__official {
				display: none;
		}
	}
}

@media (max-width: 767px) {
	.advantages {
		&__header {
			font-size: 25px;
		}
		&__icons {
			margin-top: 0;
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-top: 65px;
		}
	}
}

@media (max-width: 575px) {
	.header {
		&__logo {
			width: 150px;
			img {
				width: 100%;
			}
		}
		&__phone {
			font-size: 11px;
		}
		&__contacts {
			align-items: center;

			.button {
				width: 100px;
				font-size: 9px;
				height: 25px;
				margin-top: 5px;
			}
		}
	}
	.promo {
		&__header {
			font-size: 20px;
		}
		&__subheader {
			font-size: 14px;
		}
		&__icons {
			width: 300px;
			flex-direction: column;
			align-items: center;
			margin-top: 0;
		}
		&__icon {
			margin-top: 65px;
		}
		.button_main {
			width: 260px;
			height: 40px;
			font-size: 15px;
		}
	}

	.advantages {
		&__header {
			font-size: 22px;
		}
	}
}